<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Wissen | Lovely Professional University</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    {% load static %}
<!--    
    
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
-->
    <link rel="stylesheet" href="{% static 'assets/css/team.css' %}">
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicons/favicon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicons/favicon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicons/favicon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicons/favicon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicons/favicon-114x144.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicons/favicon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicons/favicon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicons/favicon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/favicon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'assets/img/favicons/favicon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-0" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="#"><img class="img-fluid" style="width: 80px;" src="{% static 'assets/img/icons/logo.png' %}" alt="" /></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul  class="navbar-nav me-auto ms-lg-4 ms-xl-11 border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
              <li class="nav-item"><a class="nav-link fw-medium" href="http://127.0.0.1:8000/">Home</a></li>
              <li class="nav-item"><a class="nav-link fw-medium" href="http://127.0.0.1:8000/#About">About</a></li>
              <li class="nav-item"><a class="nav-link fw-medium" href="http://127.0.0.1:8000/#Services">Services</a></li>
              <li class="nav-item"><a class="nav-link fw-medium" href="http://127.0.0.1:8000/#Events">Events</a></li>
<!--              <li class="nav-item"><a class="nav-link fw-medium" href="http://127.0.0.1:8000/#Team">Team</a></li>      -->
              <li class="nav-item"><a class="nav-link fw-medium" href="http://127.0.0.1:8000/#Contact">Contact</a></li>
            </ul>
            <form class="d-flex py-3 py-lg-0"><a class="btn btn-light rounded-pill shadow fw-bold" href="#Subscribe   " role="button">Subscribe
              <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
              </svg></a>
            </form>
          </div>
          
           
        </div>
      </nav>

{% block content %}

{% endblock %}



      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section id="Subscribe"  class="py-6 pb-0 bg-soft-danger">
        
            <div class="container mt-2">
              <div class="row py-0 mb-5 justify-content-sm-between text-center text-md-start">
                <div class="col-md-6">
                  <h1 class="fw-bold">Subscribe our mailing list!</h1>
                </div>
                <div class="col-md-6">
                  <form class="form-inline" action="/form/subscriber" method="post">
                    {% csrf_token %}
                    <div class="container">
                      <div class="row">
                        <div class="col-sm mb-3">
                          {{ SubscriberForm.email }}
                        </div>
                        <div class="col">
                          <input class="btn btn-md btn-info pill" type="submit" value="Submit"/>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>      
                
              <div class="row justify-content-lg-around">
                <div class="col-12 col-sm-12 col-lg-3 mb-4 order-0 order-sm-0"><a class="text-decoration-none" href="#"><img class="img-fluid me-3" style="width: 70px;" src="{% static 'assets/img/icons/logo.png' %}" alt="" /></a>
                  <!-- <p class="fw-bold fs-1 text-1000">WISSEN</p>  -->
                  <p class="mt-4">Lovely Professional University, 41 <p />Jalandhar, Punjab 144001</p>
                  <!--  <p>info@warehouse.project<br />1-232-3434 (Main) </p>   -->
                </div>
                <div class="col-6 col-sm-4 col-lg-3 mb-3 order-2 order-sm-1">
                  <h6 class="lh-lg fw-bold mb-4">Links</h6>
                  <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-dark fs--1 text-decoration-none" href="#About">About</a></li>
                    <li class="lh-lg"><a class="text-dark fs--1 text-decoration-none" href="#Services">Services</a></li>
                    <li class="lh-lg"><a class="text-dark fs--1 text-decoration-none" href="#Events">Events</a></li>
                    <li class="lh-lg"><a class="text-dark fs--1 text-decoration-none" href="#Team">Team</a></li>
                    <li class="lh-lg"><a class="text-dark fs--1 text-decoration-none" href="#Contact">Contact</a></li>
                  </ul>
                </div>
                <div class="col-6 col-sm-4 col-lg-3 mb-3 order-3 order-sm-2">
                  <h6 class="lh-lg fw-bold mb-4"> Help </h6>
                  <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-dark fs--1 text-decoration-none" href="#Contact">Support</a></li>
                    <li class="lh-lg"><a class="text-dark fs--1 text-decoration-none" href="#!">Q&amp;A</a></li>
                  </ul>
                </div>
                <div class="col-12 col-sm-4 col-lg-3 mb-3 order-1 order-sm-3">
                  <h6 class="lh-lg fw-bold mb-4">Social Media </h6>
                  <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="https://www.facebook.com/clubwissen.org/"><i class="fa fa-facebook-square w-100 fa-2x"  aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="https://www.linkedin.com/in/wissen-organisation-104975208"><i class="fa fa-linkedin-square w-100 fa-2x"  aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="https://instagram.com/wissenlpu_org?igshid=1psttt168k2zo"><i class="fa fa-instagram w-100 fa-2x"  aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div<div>
            </div>
            <!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->
    
    
    
    
          <!-- ============================================-->
          <!-- <section> begin ============================
          <section class="py-6">
    
            <div class="container">
              <div class="row flex-center px-3">
                <div class="col-12 col-md-6 px-md-0 order-1 order-md-0">
                  
                </div>
                <div class="col-12 col-md-6 text-center text-md-end mb-3 mb-md-0"> <a href="#"><img class="img-fluid" src="{% static 'assets/img/icons/pre-footer.png' %}" height="14" alt="" /></a></div>
              </div>
            </div>
            <!-- end of .container
    
          </section>
           <section> close ============================ -->
          <!-- ============================================-->
    
    
        </main>
        <!-- ===============================================-->
        <!--    End of Main Content-->
        <!-- ===============================================-->
    
    
    
    
        <!-- ===============================================-->
        <!--    JavaScripts-->
        <!-- ===============================================-->
        <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/is/is.min.js' %}"></script>
        <script src="{% static 'https://polyfill.io/v3/polyfill.min.js?features=window.scroll' %}"></script>
        <script src="{% static 'assets/js/theme.js' %}"></script>
        <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script>
        <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js' %}"></script>
    
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&amp;display=swap" rel="stylesheet">
      </body>
    
    </html>