{% extends "base.html" %}

{% block content %}
{% load static %}
<section id="Blog" class="py-0 mt-8 mb-4">

  <!--container-start-->
  <div class="bg-soft-danger rounded-3 container-lg">
    <div class="row flex-center mb-3">
      <div class="col-auto text-center my-0">
        <h1 class="mb-2 mt-3 fw-bold">Title</h1>
        <p>A fest an event or a talkshow, we are organising <br> to make you grow.</p>
      </div>
    </h1>
    <div class="container">
        <h1>This is container</h1>
    </div>
  </div>
  <br>
  <!--container-end-->
</section>

<section  class="py-0 mt-8 mb-4">

  <!--container-start-->
  <div class="bg-soft-danger rounded-3 container-lg">
    <div class="row flex-center mb-3">
      <div class="col-auto text-center my-0">
        <h1 class="mb-2 mt-3 fw-bold">Title</h1>
        <p>A fest an event or a talkshow, we are organising <br> to make you grow.</p>
      </div>
    </h1>
    <div class="container">
        <h1>This is container</h1>
    </div>
  </div>
  <br>
  <!--container-end-->
</section>
{% endblock %}