{% extends "base.html" %}

{% block content %}
{% load static %}
<section class="py-0 mt-8 mb-4">

  
  <!-- end of .container-->

</section>
{% endblock %}


<!--
<div class="row">
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (10).jpg' %}" width="100%" alt="" />
    </div>
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (11).jpg' %}" width="100%" alt="" />
    </div>
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (12).jpg' %}" width="100%" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (13).jpg' %}" width="100%" alt="" />
    </div>
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (14).jpg' %}" width="100%" alt="" />
    </div>
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (15).jpg' %}" width="100%" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (16).jpg' %}" width="100%" alt="" />
    </div>
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (17).jpg' %}" width="100%" alt="" />
    </div>
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (18).jpg' %}" width="100%" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (19).jpg' %}" width="100%" alt="" />
    </div>
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (20).jpg' %}" width="100%" alt="" />
    </div>
    <div class="col-sm">
      <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
      src="{% static 'assets/img/gallery/event (21).jpg' %}" width="100%" alt="" />
    </div>
  </div>-->