{% extends "base.html" %}

{% block content %}
{% load static %}

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-5">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-lg-7 order-md-1 pt-8"><img class="img-fluid"
          src="{% static 'assets/img/illustrations/hero-header.png' %}" alt="" /></div>
      <div class="col-md-7 col-lg-5 text-center text-md-start pt-5 pt-md-9">
        <h1 class="mb-4 display-2 fw-bold">Student <br class="d-block d-lg-none d-xl-block" />Organization <br
            class="d-block d-lg-none d-xl-block" />Wissen</h1>
        <p class="mt-3 mb-4">More than what you think. <br /></p><a class="btn btn-lg btn-info rounded-pill"
          href="http://127.0.0.1:8000/Events" role="button">Our Events</a>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->




<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-4">

  <div id="About" class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-3 bg-soft-danger rounded-3">
          <div class="row g-0 align-items-center">
            <div class="col-md-5 col-lg-6 text-md-center"><img class="img-fluid"
                src="{% static 'assets/img/illustrations/about.png' %}" alt="" /></div>
            <div class="col-md-7 col-lg-6 px-md-2 px-xl-6 text-center text-md-start">
              <div class="card-body px-4 py-5 p-lg-3 p-md-4">
                <h1 class="mb-4 fw-bold">About us<br class="d-md-none d-xxl-block" /></h1>
                <p class="card-text">Team Wissen is a group of enthusiastic people <br
                    class="d-none d-xxl-block" />Coming from different backgrounds bringing their best to the table. <br
                    class="d-none d-xxl-block" />Wissen means knowledge and team wissen believes that <br
                    class="d-none d-xxl-block" />the best investment you can make is in yourself.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<section id="Services" class="mb-4 py-2">
  <div class="container-lg">
    <div class="row flex-center mb-2">
      <div class="col-auto text-center my-4">
        <h1 class="fw-bold">What We Do</h1>
        <p>The reward for work well done is the opportunity <br />to do more.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card px-5 px-md-3 py-lg-5">
          <div class="row flex-center">
            <div class="bg-holder z-index-1 d-none d-lg-block"
              style="background-image:url({% static 'assets/img/illustrations/feature-bg-1.png' %});background-position:center;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="bg-holder z-index-1 d-block d-lg-none"
              style="background-image:url({% static 'assets/img/illustrations/feature-bg-1.png'%});background-position:center;background-size:cover;">
            </div>
            <!--/.bg-holder-->

            <div class="col-md-4 pe-0 pe-md-0 text-center"><img class="img-fluid"
                src="{% static 'assets/img/illustrations/technical-event.jpg' %}" alt="" /></div>
            <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
              <div class="card-body px-0">
                <h4 class="card-title pt-md-5">Technical Events</h4>
                <p class="mb-0">Socially awkward, but technically <br class="d-none d-lg-block"> forward. Everything in this
                    <br class="d-none d-lg-block"> whole world is designed but <br
                    class="d-none d-lg-block">few things are designed well Just 
                    <br class="d-none d-lg-block"> like our event.</p>
                <div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card px-5 px-md-3 py-lg-5">
          <div class="row flex-center">
            <div class="bg-holder z-index-1 d-none d-lg-block"
              style="background-image:url({% static 'assets/img/illustrations/feature-bg-2.png' %});background-position:center;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="bg-holder z-index-1 d-block d-lg-none"
              style="background-image:url({% static 'assets/img/illustrations/feature-bg-2.png' %});background-position:center;background-size:cover;">
            </div>
            <!--/.bg-holder-->

            <div class="col-md-4 pe-0 pe-md-0 text-center"><img class="img-fluid"
                src="{% static 'assets/img/illustrations/cultural-event.jpg' %}" alt="" /></div>
            <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
              <div class="card-body px-0">
                <h4 class="card-title pt-md-5">Cultural Events</h4>
                <p class="mb-0">Culture is the name for what <br class="d-none d-lg-block"> people are interested in, their thoughts, 
                  <br class="d-none d-lg-block"> their models, the books they read <br class="d-none d-lg-block"> and the speeches they hear.
                   <br class="d-none d-lg-block"> Strength lies in differences,<br
                    class="d-none d-lg-block">not in similarities. </p>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card px-5 px-md-3 py-lg-5">
          <div class="row flex-center">
            <div class="bg-holder z-index-1 d-none d-lg-block"
              style="background-image:url({% static 'assets/img/illustrations/feature-bg-3.png' %});background-position:center;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="bg-holder z-index-1 d-block d-lg-none"
              style="background-image:url({% static 'assets/img/illustrations/feature-bg-3.png' %});background-position:center;background-size:cover;">
            </div>
            <!--/.bg-holder-->

            <div class="col-md-4 pe-0 pe-md-0 text-center"><img class="img-fluid"
                src="{% static 'assets/img/illustrations/social-event.png' %}" alt="" /></div>
            <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
              <div class="card-body px-0">
                <h4 class="card-title pt-md-5">Social Events</h4>
                <p class="mb-0">We believe that one person <br class="d-none d-lg-block"> can make a difference and 
                  <br class="d-none d-lg-block"> everyone should try. The best <br class="d-none d-lg-block"> way to find yourself is <br
                     class="d-none d-lg-block">to lose yourself in the service <br
                    class="d-none d-lg-block">of others.
                <div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card px-5 px-md-3 py-lg-5">
          <div class="row flex-center">
            <div class="bg-holder z-index-1 d-none d-lg-block"
              style="background-image:url({% static 'assets/img/illustrations/feature-bg-4.png' %});background-position:center;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="bg-holder z-index-1 d-block d-lg-none"
              style="background-image:url({% static 'assets/img/illustrations/feature-bg-4.png' %});background-position:center;background-size:cover;">
            </div>
            <!--/.bg-holder-->

            <div class="col-md-4 pe-0 pe-md-0 text-center"><img class="img-fluid"
                src="{% static 'assets/img/illustrations/talk-show.jpg' %}" alt="" /></div>
            <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
              <div class="card-body px-0">
                <h4 class="card-title pt-md-5">Talk Shows</h4>
                <p class="mb-0">It’s neither a matter of dance <br class="d-none d-lg-block"> nor a matter of sing
                  <br class="d-none d-lg-block"> but it is a way how we make our <br class="d-none d-lg-block">  interaction memorable. <br 
                  class="d-none d-lg-block">  <br
                    class="d-none d-lg-block">     </p>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Events" class="py-0 mb-4">
  <div class="bg-soft-danger rounded-3 container-lg">
    <div class="row flex-center mb-3">
      <div class="col-auto text-center my-0">
        <h1 class="mb-2 mt-3 fw-bold">Events</h1>
        <p>A fest an event or a talkshow, we are organising <br> to make you grow.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (10).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (11).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (12).jpg' %}" width="100%" alt="" />
        </div>
      </div>
    </div>
    <form style="text-align: center;" class="mt-3 rounded mb-md-4 mb-lg-1"><a class="btn btn-light mb-4 rounded-pill shadow fw-bold" href="Events/" role="button">Show More
      <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
      </svg></a></form>
  </div>
  <br>
</section>

<section class="py-5 mb-4">
  <div class="container-lg bg-info p-5 p-md-5 p-xl-7 rounded-3">
    <div class="row flex-center">
      <div class="col-12">
        <h2 class="text-light fw-bold">Testimonials</h2>
      </div>
    </div>
    <div class="carousel slide pt-6" id="carouselExampleDark" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="row h-100">
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card h-100 py-3">
                <div class="card-body my-2">
                  <div class="d-flex align-items-center"><img class="img-fluid me-3 me-md-2 me-lg-3"
                      src="{% static 'assets/img/gallery/1.png' %}" width="70" alt="" />
                    <div class="flex-1 align-items-center">
                      <h6 class="mb-0 fs--1 text-1000 fw-medium">John Fang </h6>
                      <p class="fs--2 fw-normal text-info mb-0">wordfaang.com</p>
                    </div>
                  </div>
                  <p class="card-text ps-7 ps-md-0 ps-xl-7 pt-md-4 pt-lg-3 pt-xl-0">“Wow...I am very happy to use this
                    VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN
                    always the best”.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card h-100 py-3">
                <div class="card-body my-2">
                  <div class="d-flex align-items-center"><img class="img-fluid me-3 me-md-2 me-lg-3"
                      src="{% static 'assets/img/gallery/2.png' %}" width="70" alt="" />
                    <div class="flex-1 align-items-center">
                      <h6 class="mb-0 fs--1 text-1000 fw-medium">Jeny Doe</h6>
                      <p class="fs--2 fw-normal text-info mb-0">UX Engineer</p>
                    </div>
                  </div>
                  <p class="card-text ps-7 ps-md-0 ps-xl-7 pt-md-4 pt-lg-3 pt-xl-0">“I like it because I like to travel
                    far and still can connect with high speed.”</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card h-100 py-3">
                <div class="card-body my-2">
                  <div class="d-flex align-items-center"><img class="img-fluid me-3 me-md-2 me-lg-3"
                      src="{% static 'assets/img/gallery/3.png' %}" width="70" alt="" />
                    <div class="flex-1 align-items-center">
                      <h6 class="mb-0 fs--1 text-1000 fw-medium">William</h6>
                      <p class="fs--2 fw-normal text-info mb-0">Web Designer</p>
                    </div>
                  </div>
                  <p class="card-text ps-7 ps-md-0 ps-xl-7 pt-md-4 pt-lg-3 pt-xl-0">“I like it because I like to travel
                    far and still can connect with high speed.”</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="row h-100">
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card h-100 py-3">
                <div class="card-body my-2">
                  <div class="d-flex align-items-center"><img class="img-fluid me-3 me-md-2 me-lg-3"
                      src="{% static 'assets/img/gallery/1.png' %}" width="70" alt="" />
                    <div class="flex-1 align-items-center">
                      <h6 class="mb-0 fs--1 text-1000 fw-medium">Viezh Robert</h6>
                      <p class="fs--2 fw-normal text-info mb-0">arsaw, Poland</p>
                    </div>
                  </div>
                  <p class="card-text ps-7 ps-md-0 ps-xl-7 pt-md-4 pt-lg-3 pt-xl-0">“Wow...I am very happy to use this
                    VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN
                    always the best”.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card h-100 py-3">
                <div class="card-body my-2">
                  <div class="d-flex align-items-center"><img class="img-fluid me-3 me-md-2 me-lg-3"
                      src="{% static 'assets/img/gallery/2.png' %}" width="70" alt="" />
                    <div class="flex-1 align-items-center">
                      <h6 class="mb-0 fs--1 text-1000 fw-medium">Kim Young Jou</h6>
                      <p class="fs--2 fw-normal text-info mb-0">UX Engineer</p>
                    </div>
                  </div>
                  <p class="card-text ps-7 ps-md-0 ps-xl-7 pt-md-4 pt-lg-3 pt-xl-0">“I like it because I like to travel
                    far and still can connect with high speed.”</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card h-100 py-3">
                <div class="card-body my-2">
                  <div class="d-flex align-items-center"><img class="img-fluid me-3 me-md-2 me-lg-3"
                      src="{% static 'assets/img/gallery/3.png' %}" width="70" alt="" />
                    <div class="flex-1 align-items-center">
                      <h6 class="mb-0 fs--1 text-1000 fw-medium">Kim Young Jou</h6>
                      <p class="fs--2 fw-normal text-info mb-0">Web Designer</p>
                    </div>
                  </div>
                  <p class="card-text ps-7 ps-md-0 ps-xl-7 pt-md-4 pt-lg-3 pt-xl-0">“I like it because I like to travel
                    far and still can connect with high speed.”</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row h-100">
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card h-100 py-3">
                <div class="card-body my-2">
                  <div class="d-flex align-items-center"><img class="img-fluid me-3 me-md-2 me-lg-3"
                      src="{% static 'assets/img/gallery/1.png' %}" width="70" alt="" />
                    <div class="flex-1 align-items-center">
                      <h6 class="mb-0 fs--1 text-1000 fw-medium">Viezh Robert</h6>
                      <p class="fs--2 fw-normal text-info mb-0">arsaw, Poland</p>
                    </div>
                  </div>
                  <p class="card-text ps-7 ps-md-0 ps-xl-7 pt-md-4 pt-lg-3 pt-xl-0">“Wow...I am very happy to use this
                    VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN
                    always the best”.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card h-100 py-3">
                <div class="card-body my-2">
                  <div class="d-flex align-items-center"><img class="img-fluid me-3 me-md-2 me-lg-3"
                      src="{% static 'assets/img/gallery/2.png' %}" width="70" alt="" />
                    <div class="flex-1 align-items-center">
                      <h6 class="mb-0 fs--1 text-1000 fw-medium">Kim Young Jou</h6>
                      <p class="fs--2 fw-normal text-info mb-0">UX Engineer</p>
                    </div>
                  </div>
                  <p class="card-text ps-7 ps-md-0 ps-xl-7 pt-md-4 pt-lg-3 pt-xl-0">“I like it because I like to travel
                    far and still can connect with high speed.”</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card h-100 py-3">
                <div class="card-body my-2">
                  <div class="d-flex align-items-center"><img class="img-fluid me-3 me-md-2 me-lg-3"
                      src="{% static 'assets/img/gallery/3.png' %}" width="70" alt="" />
                    <div class="flex-1 align-items-center">
                      <h6 class="mb-0 fs--1 text-1000 fw-medium">Kim Young Jou</h6>
                      <p class="fs--2 fw-normal text-info mb-0">Web Designer</p>
                    </div>
                  </div>
                  <p class="card-text ps-7 ps-md-0 ps-xl-7 pt-md-4 pt-lg-3 pt-xl-0">“I like it because I like to travel
                    far and still can connect with high speed.”</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row px-3 px-md-0 mt-4">
        <div class="col-6 position-relative">
          <ol class="carousel-indicators">
            <li class="active" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
            <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
          </ol>
        </div>
        <div class="col-6 position-relative"><a class="carousel-control-prev carousel-icon z-index-2"
            href="#carouselExampleDark" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"
              aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a
            class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button"
            data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span
              class="visually-hidden">Next</span></a></div>
      </div>
    </div>
  </div>
</section>

<!--
<section id="Team" class="py-0 mb-4">
  <div class="bg-soft-success rounded-3 container-lg">
    <div class="row flex-center mb-3">
      <div class="col-auto text-center my-0">
        <h1 class="mb-2 mt-3 fw-bold">Meet Our Team</h1>
        <p>Group of enthusiastic people.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="img rounded me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (1).jpeg' %}" width="100%" alt="" />
          <div style="text-align: center;" class="row-12 row-sm-4 row-lg-3 order-1 order-sm-3">
            <h4 class="mb-2 mt-3 fw-bold">Name</h4>
            <p>Designation.</p>
          </div>
        </div>
        <div class="col">
          <img class="img-fluid rounded me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (2).jpeg' %}" width="100%" alt="" />
          <div style="text-align: center;" class="row-12 row-sm-4 row-lg-3 order-1 order-sm-3">
            <h4 class="mb-2 mt-3 fw-bold">Name</h4>
            <p>Designation.</p>
          </div>
        </div>
        <div class="col">
          <img class="img-fluid rounded me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (3).jpeg' %}" width="100%" alt="" />
          <div style="text-align: center;" class="row-12 row-sm-4 row-lg-3 order-1 order-sm-3">
            <h4 class="mb-2 mt-3 fw-bold">Name</h4>
            <p>Designation.</p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  
</section>
-->

<section class="py-4">

  <div id="Contact" class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-3 bg-soft-danger rounded-3">
          <div class="row g-0 align-items-center">
            <div class="col-md-5 col-lg-6 text-md-center"><img class="img-fluid"
              src="{% static 'assets/img/illustrations/contact_us-.png' %}" alt="" /></div>
            <div class="col-md-7 col-lg-6 px-md-2 px-xl-6 text-center text-md-start">
              <div class="card-body px-4 py-5 p-lg-3 p-md-4"><br>
                <h1 class="mb-4 fw-bold">Contact us<br class="d-md-none d-xxl-block" /></h1>
                <form action="form/contact" method="post">
                  {% csrf_token %}
                  <div class="container">
                    <div class="row">
                      <div class="col">{{ ContactForm.name }}</div>
                      <div class="col">{{ ContactForm.email }}</div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col">{{ ContactForm.phone }}</div>
                      <div class="col">{{ ContactForm.subject }}</div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col">{{ ContactForm.message }}</div>
                    </div>
                    <br>
                  </div>
                  <input class="btn btn-lg btn-info rounded-pill" type="submit" value="Submit">
                </form>
                <br>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
{% endblock %}