{% extends "base.html" %}

{% block content %}
{% load static %}
<section id="Events" class="py-0 mt-8">
    <div class="container-lg bg-soft-dark rounded-3">
      <div class="row flex-center mb-3">
        <div class="col-auto text-center my-0">
          <h1 class="mb-2 mt-3 fw-bold">Team Wissen</h1>
        </div>
      </div>
      <div class="container mb-3" style="text-align: center;">
        {% for member in data %}
            <div class="col list-inline-item mb-4" style="width: 30%;">
                <img class="img me-3 me-md-2 me-lg-3"
                src="{{media}}{{member.image}}" width="100%" alt="" />
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/f.png' %}" width="40" alt="" /></a></li>
                    <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/t.png' %}" width="40" alt="" /></a></li>
                    <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/i.png' %}" width="40" alt="" /></a></li>
                    <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/l.png' %}" width="40" alt="" /></a></li>
                  </ul> 
            </div>
        {% endfor %}
      </div>
    </div>
  <br>
</section>
  {% endblock %}

  <!--
      <div class="row">
          <div class="col">
            <img class="img me-3 me-md-2 me-lg-3"
            src="{% static 'assets/img/gallery/event (1).jpeg' %}" width="100%" alt="" />
            <div style="text-align: center;" class="row-12 row-sm-4 row-lg-3 mb-3 order-1 order-sm-3">
              
                <h6 class="lh-lg fw-bold mb-4">name </h6>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/f.png' %}" width="40" alt="" /></a></li>
                <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/t.png' %}" width="40" alt="" /></a></li>
                <div class="list-inline-item"><div class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/i.png' %}" width="40" alt="" /></div></div>
                <ul class="list-inline-item"><ul class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/l.png' %}" width="40" alt="" /></ul></ul>
              </ul> 
            </div>
        </div>
        <div class="col">
          <img class="img-fluid me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (2).jpeg' %}" width="100%" alt="" />
          <div style="text-align: center;" class="row-12 row-sm-4 row-lg-3 mb-3 order-1 order-sm-3">
           <!-- <h6 class="lh-lg fw-bold mb-4">name </h6>
            <ul class="list-unstyled mb-md-4 mb-lg-0">
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/f.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/t.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/i.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/l.png' %}" width="40" alt="" /></a></li>
            </ul> 
          </div>
        </div>
        <div class="col">
          <img class="img-fluid me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (3).jpeg' %}" width="100%" alt="" />
          <div style="text-align: center;" class="row-12 row-sm-4 row-lg-3 mb-3 order-1 order-sm-3">
           <!-- <h6 class="lh-lg fw-bold mb-4">name </h6>
            <ul class="list-unstyled ">
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/f.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/t.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/i.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/l.png' %}" width="40" alt="" /></a></li>
            </ul> 
          </div>
        </div>
      </div> -->