{% extends "base.html" %}

{% block content %}
{% load static %}
<section id="Events" class="py-0 mt-8 mb-4">
  <div class="bg-soft-danger rounded-3 container-lg">
    <div class="row flex-center mb-3">
      <div class="col-auto text-center my-0">
        <h1 class="mb-2 mt-3 fw-bold">Events</h1>
        <p>A fest an event or a talkshow, we are organising <br> to make you grow.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (10).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (11).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (12).jpg' %}" width="100%" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (13).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (14).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (15).jpg' %}" width="100%" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (16).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (17).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (18).jpg' %}" width="100%" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (19).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (20).jpg' %}" width="100%" alt="" />
        </div>
        <div class="col-sm">
          <img class="img-fluid rounded mb-3 me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (21).jpg' %}" width="100%" alt="" />
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
{% endblock %}


  <!--
      <div class="row">
          <div class="col">
            <img class="img me-3 me-md-2 me-lg-3"
            src="{% static 'assets/img/gallery/event (1).jpeg' %}" width="100%" alt="" />
            <div style="text-align: center;" class="row-12 row-sm-4 row-lg-3 mb-3 order-1 order-sm-3">
              
                <h6 class="lh-lg fw-bold mb-4">name </h6>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/f.png' %}" width="40" alt="" /></a></li>
                <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/t.png' %}" width="40" alt="" /></a></li>
                <div class="list-inline-item"><div class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/i.png' %}" width="40" alt="" /></div></div>
                <ul class="list-inline-item"><ul class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/l.png' %}" width="40" alt="" /></ul></ul>
              </ul> 
            </div>
        </div>
        <div class="col">
          <img class="img-fluid me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (2).jpeg' %}" width="100%" alt="" />
          <div style="text-align: center;" class="row-12 row-sm-4 row-lg-3 mb-3 order-1 order-sm-3">
           <!-- <h6 class="lh-lg fw-bold mb-4">name </h6>
            <ul class="list-unstyled mb-md-4 mb-lg-0">
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/f.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/t.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/i.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/l.png' %}" width="40" alt="" /></a></li>
            </ul> 
          </div>
        </div>
        <div class="col">
          <img class="img-fluid me-3 me-md-2 me-lg-3"
          src="{% static 'assets/img/gallery/event (3).jpeg' %}" width="100%" alt="" />
          <div style="text-align: center;" class="row-12 row-sm-4 row-lg-3 mb-3 order-1 order-sm-3">
           <!-- <h6 class="lh-lg fw-bold mb-4">name </h6>
            <ul class="list-unstyled ">
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/f.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/t.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/i.png' %}" width="40" alt="" /></a></li>
              <li class="list-inline-item"><a class="text-dark fs--1 text-decoration-none" href="#!"><img class="img-fluid" src="{% static 'assets/img/icons/l.png' %}" width="40" alt="" /></a></li>
            </ul> 
          </div>
        </div>
      </div> -->